# Python
__pycache__/
*.pyc

# Django
db.sqlite3
.env

# Logs
logs/

# Virtual environments
venv/
venv01/
env/

# Static collected files
staticfiles/

# OS
.DS_Store


# agent
agent/config.json

#Node
node_modules/static/css/output.css

# Tailwind build
static/css/output.css

# Python
__pycache__/
*.pyc

# Environment
.env

# Logs
*.log

#OS
.DS_Store
node_modules/
tem
