{% extends "base.html" %}

{% block content %}

<h1>Device Detail</h1>

<h3>Device Information</h3>

<ul>
    <li>User: {{ device.user }}</li>
    <li>OS: {{ device.os }}</li>
    <li>Hostname: {{ device.hostname }}</li>
    <li>IP: {{ device.ip }}</li>
    <li>MAC: {{ device.mac }}</li>
    <li>Status: {{ device.status }}</li>
    <li>Office: {{ device.office }}</li>
    <div style="background:#f5f5f5;padding:30px;border:1px solid #ccc;width:fit-content">
        <li>Agent Token:<code id="agent-token">{{ device.agent_token }}</code></li>
        <button onclick="copyAgentToken()">Copy</button>
        <li>Token of User: <code id="user-token">{{ user_token}}</code></li>
        <button onclick="copyUserToken()">Copy</button>
    </div>

</ul>

<hr>

<h3>Current Metrics</h3>

{% if status %}

<ul>
    <li>CPU Usage: {{ status.cpu_usage }} %</li>
    <li>RAM Usage: {{ status.ram_usage }} %</li>
    <li>Disk Usage: {{ status.disk_usage }} %</li>
    <li>Temperature: {{ status.cpu_temp }}</li>
    <li>Network In: {{ status.network_in }}</li>
    <li>Network Out: {{ status.network_out }}</li>
</ul>

{% else %}

<p>No metrics available.</p>

{% endif %}

<hr>

<h3>Metrics History</h3>

<table border="1">

    <tr>
        <th>CPU</th>
        <th>RAM</th>
        <th>Disk</th>
        <th>Temp</th>
        <th>Time</th>
    </tr>

    {% for m in metrics %}

    <tr>

        <td>{{ m.cpu_usage }}</td>
        <td>{{ m.ram_usage }}</td>
        <td>{{ m.disk_usage }}</td>
        <td>{{ m.cpu_temp }}</td>
        <td>{{ m.timestamp }}</td>

    </tr>

    {% empty %}

    <tr>
        <td colspan="5">No metrics recorded.</td>
    </tr>

    {% endfor %}

</table>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h3>CPU Usage</h3>
<canvas id="cpuChart"></canvas>

<h3>RAM Usage</h3>
<canvas id="ramChart"></canvas>

<h3>Disk Usage</h3>
<canvas id="diskChart"></canvas>

<h3>Temperature</h3>
<canvas id="tempChart"></canvas>
<hr>

<h3>Device Alerts</h3>

<table border="1">

    <tr>
        <th>Time</th>
        <th>Alert</th>
    </tr>

    {% for alert in alerts %}

    <tr>
        <td>{{ alert.created_at }}</td>
        <td>{{ alert.title }}</td>
    </tr>

    {% empty %}

    <tr>
        <td colspan="2">No alerts.</td>
    </tr>

    {% endfor %}

</table>

<script>

    const timeData = {{ time_data| safe }};
    const cpuData = {{ cpu_data| safe }};
    const ramData = {{ ram_data| safe }};
    const diskData = {{ disk_data| safe }};
    const tempData = {{ temp_data| safe }};

    function createChart(elementId, label, data, color) {

        new Chart(document.getElementById(elementId), {

            type: "line",

            data: {
                labels: timeData,
                datasets: [{
                    label: label,
                    data: data,
                    borderColor: color,
                    fill: false
                }]
            },

            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }

        });

    }

    createChart("cpuChart", "CPU Usage %", cpuData, "red");
    createChart("ramChart", "RAM Usage %", ramData, "blue");
    createChart("diskChart", "Disk Usage %", diskData, "green");
    createChart("tempChart", "Temperature", tempData, "orange");

</script>

<script>
    function copyUserToken() {

        const token = document.getElementById("user-token").innerText;

        navigator.clipboard.writeText(token);

        alert("Token copied to clipboard");

    }

    function copyAgentToken() {

        const token = document.getElementById("agent-token").innerText;

        navigator.clipboard.writeText(token);

        alert("Token copied to clipboard");

    }

</script>

{% endblock %}