{% extends "base.html" %}

{% block content %}

<h1>Notifications Center</h1>

<hr>
<h1>System Alerts</h1>

<hr>

{% if is_admin %}

<div style="display:flex;gap:20px;margin-bottom:20px">

    <div style="border:1px solid #ccc;padding:10px;width:200px">
        <strong>Total Monitoring Alerts</strong><br>
        {{ monitoring_alerts|length }}
    </div>

    <div style="border:1px solid #ccc;padding:10px;width:200px">
        <strong>Active Alerts</strong><br>
        {{ active_alerts }}
    </div>

    <div style="border:1px solid #ccc;padding:10px;width:200px">
        <strong>Resolved Alerts</strong><br>
        {{ resolved_alerts }}
    </div>

    <div style="border:1px solid #ccc;padding:10px;width:200px">
        <strong>Support Notifications</strong><br>
        {{ support_notifications|length }}
    </div>

</div>
{% endif %}
<hr>


<h2>Monitoring Alerts</h2>

<table border="1" width="100%">
    <tr>
        <th>Time</th>
        <th>Device</th>
        <th>Alert</th>
        <th>Actions</th>
    </tr>

    {% for alert in monitoring_alerts %}
    <tr>
        <td>{{ alert.created_at }}</td>
        <td>{{ alert.device.hostname | default:"Unknown Device" }}</td>
        <td>{{ alert.title }}</td>
        <td>
            {%if is_admin%}
            {% if not alert.resolved %}
            <form method="post" action="{% url 'resolve_alert' alert.id %}">
                {% csrf_token %}
                <button style="color:green">Resolve</button>
            </form>
            {% endif %}
            <form method="post" action="{% url 'delete_notification' alert.id %}">
                {% csrf_token %}
                <button style="color:red">Delete</button>
            </form>
            {%endif%}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No monitoring alerts</td>
    </tr>
    {% endfor %}
</table>

<hr>

<h2>Support Notifications</h2>

<table border="1" width="100%">
    <tr>
        <th>Time</th>
        <th>Message</th>
        <th>Actions</th>
    </tr>

    {% for n in support_notifications %}
    <tr>
        <td>{{ n.created_at }}</td>
        <td>{{ n.content }}</td>
        <td>
            {%if is_admin%}
            <form method="post" action="{% url 'delete_notification' n.id %}">
                {% csrf_token %}
                <button style="color:red">Delete</button>
            </form>
            {%endif%}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No support notifications</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}