{% extends "base.html" %}

{% block content %}

<h1>My Dashboard</h1>

<h2>My Devices</h2>
<div class="bg-red-500 text-white p-4">
    TEST RED
</div>
<table border="1" cellpadding="5">

    <tr>
        <th>Hostname</th>
        <th>OS</th>
        <th>IP</th>
        <th>Status</th>
        <th>CPU</th>
        <th>RAM</th>
        <th>Disk</th>
        <th>Last Update</th>
    </tr>

    {% for item in devices %}

    <tr>

        <td>{{ item.device.hostname }}</td>

        <td>{{ item.device.os }}</td>

        <td>{{ item.device.ip }}</td>

        <td>
            {% if item.device.status == "online" %}
            <span class="px-2 py-1 rounded-full text-xs font-bold bg-green-100 text-green-800">● Online</span>
            {% elif item.device.status == "offline" %}
            <span class="px-2 py-1 rounded-full text-xs font-bold bg-red-100 text-red-800">● Offline</span>
            {% else %}
            <span class="px-2 py-1 rounded-full text-xs font-bold bg-gray-100 text-gray-800">● Unknown</span>
            {% endif %}
        </td>

        <td>
            {% if item.status %}
            {{ item.status.cpu_usage }} %
            {% else %}
            -
            {% endif %}
        </td>

        <td>
            {% if item.status %}
            {{ item.status.ram_usage }} %
            {% else %}
            -
            {% endif %}
        </td>

        <td>
            {% if item.status %}
            {{ item.status.disk_usage }} %
            {% else %}
            -
            {% endif %}
        </td>

        <td>
            {% if item.status %}
            {{ item.status.last_update }}
            {% else %}
            -
            {% endif %}
        </td>

    </tr>

    {% empty %}

    <tr>
        <td colspan="8">No devices registered.</td>
    </tr>

    {% endfor %}

</table>

{% endblock %}